@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Patrick+Hand&display=swap");

body {
  font-family: "Patrick Hand", cursive;
  font-size: 1.25rem;
  background-image: url("./img/sakura flower.png");
  background-repeat: repeat-y;
}

.carousel-caption h5 {
  font-size: 1.75rem;
}

.card-text {
  font-family: "Merienda", cursive;
  font-size: 0.75em;
}
